.App {
  text-align: center;
}

.App-footer {
  background-color: #efefef;
  border-top: 1px solid #d5d5d5; 

  > div {
    display: inline-block;
    float: none;
  }

  .btn {
    background-color: transparent;
    border: none;
    color: #929292;
  }

  .glyphicon {
    display: block;
  }
}


